<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user -->
<!-- -->
<!-- For professional support please see -->
<!-- http://www.qos.ch/shop/products/professionalSupport -->
<!-- -->
<configuration scan="true" scanPeriod="300 seconds" debug="ture">
	<!-- <property name="APP_NAME" value="mljr" /> -->
	<!-- <property name="LOG_HOME" value="${OUTPUT_HOME}" /> -->
	
	<property name="APP_NAME" value="mljr" />
	<property name="LOG_HOME" value="/data/var/log/mljr" />
	<contextName>${APP_NAME}</contextName>

	<appender name="STDOUT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender -->
		<encoder charset="UTF-8"> <!-- encoder 可以指定字符集，对于中文输出有意义 -->
			<pattern>%d{yyyy-MM-dd/HH:mm:ss.SSS} %level [%thread] %logger{20}:%line - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_HOME}/datasync-debug-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>300</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="A1"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender -->
		<encoder charset="UTF-8"> <!-- encoder 可以指定字符集，对于中文输出有意义 -->
			<pattern>%d{yyyy-MM-dd/HH:mm:ss.SSS} %level [%thread] %logger{20}:%line - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_HOME}/datasync-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>300</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="GPS-DATA"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender -->
		<encoder charset="UTF-8"> <!-- encoder 可以指定字符集，对于中文输出有意义 -->
			<pattern>%d{yyyy-MM-dd/HH:mm:ss.SSS} %level [%thread] %logger{20}:%line - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_HOME}/GPS-%d{yyyy-MM-dd-HH}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>300</maxHistory>
		</rollingPolicy>
	</appender>
	<appender name="JUHE-MOBILE-DATA"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender -->
		<encoder charset="UTF-8"> <!-- encoder 可以指定字符集，对于中文输出有意义 -->
			<pattern>%d{yyyy-MM-dd/HH:mm:ss.SSS} %level [%thread] %logger{20}:%line - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_HOME}/JUHE-MOBILE-%d{yyyy-MM-dd-HH}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>300</maxHistory>
		</rollingPolicy>
	</appender>

	<logger name="com.alibaba.druid.filter.stat.StatFilter" level="INFO" />
	<logger name="com.alibaba.druid.pool.DruidDataSource" level="INFO" />
	<logger name="com.alibaba.druid" level="INFO" />
	<logger name="druid.sql" level="WARN" />
	<logger name="druid.sql.DataSource" level="WARN" />
	<logger name="druid.sql.Connection" level="WARN" />
	<logger name="druid.sql.Statement" level="WARN" />
	<logger name="org.springframework.security" level="WARN" />
	<logger name="org.springframework" level="WARN" />
	<logger name="com.ibatis" level="INFO" />
	<logger name="java.sql" level="INFO" />
	<logger name="org.apache.ibatis" level="INFO" />
	<logger name="org.mybatis.spring" level="INFO" />
	<logger name="java.sql.ResultSet" level="INFO" />
	<logger name="java.sql.Connection" level="INFO" />
	<logger name="java.sql.Statement" level="INFO" />
	<logger name="java.sql.PreparedStatement" level="INFO" />
	<logger name="com.ucloud.umq" level="INFO" />
	<logger name="org.apache.http" level="INFO" />
	<logger name="org.I0Itec.zkclient" level="INFO" />
	<logger name="us.codecraft.webmagic" level="INFO" />
	<logger name="io.grpc" level="INFO" />
	<logger name="com.mljr.spider" level="DEBUG" />
	<logger name="com.mljr.sync" level="DEBUG" />

	<logger name="gps-data" level="INFO" additivity="false">
		<appender-ref ref="GPS-DATA" />
	</logger>
	<logger name="juhe-mobile-data" level="INFO" additivity="false">
		<appender-ref ref="JUHE-MOBILE-DATA" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="A1" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>