<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:task="http://www.springframework.org/schema/task" xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.1.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
    http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task-4.1.xsd
    http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.1.xsd"
	default-autowire="byName">

	<context:component-scan base-package="com.mljr" use-default-filters="true">
		<context:include-filter type="regex" expression=".sync..*" />
	</context:component-scan>

	<aop:aspectj-autoproxy proxy-target-class="true" expose-proxy="true" />
	
	<task:executor id="mljr-sync-executor" pool-size="3" queue-capacity="5" keep-alive="120" />
	<task:scheduler id="mljr-sync-scheduler" pool-size="3" />
	<task:annotation-driven scheduler="mljr-sync-scheduler" executor="mljr-sync-executor" />

	<bean id="iax_settings" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:sync.default.properties</value>
				<value>classpath:test.sync.default.properties</value>
			</list>
		</property>
	</bean>

	<bean id="abstractTaskFactory" class="com.mljr.sync.task.AbstractTaskFactory">
		<lookup-method name="createMobileTask" bean="mobileTask" />
	</bean>

</beans>