<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Mapper.yy_user_address_book_history">
   <cache type="org.mybatis.caches.ehcache.LoggingEhcache" readOnly="true" />
    <resultMap id="YyUserAddressBookHistoryResult" type="com.mljr.spider.model.YyUserAddressBookHistoryDo">
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="name" property="name" />
        <result column="company" property="company" />
        <result column="number" property="number" />
        <result column="home_address" property="homeAddress" />
        <result column="email" property="email" />
        <result column="relationship" property="relationship" />
        <result column="nick_name" property="nickName" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <select id="load" resultMap="YyUserAddressBookHistoryResult" parameterType="java.util.HashMap">
        select `id`, `user_id`, `name`, `company`, `number`, `home_address`, `email`, `relationship`, `nick_name`, `create_time`, `update_time`
        FROM yy_user_address_book_history
        WHERE id = #{id}
    </select>

    <delete id="delete" parameterType="java.util.HashMap">
        delete from yy_user_address_book_history
        WHERE id = #{id}
    </delete>

    <insert id="create" parameterType="com.mljr.spider.model.YyUserAddressBookHistoryDo">
        insert into yy_user_address_book_history (`id`, `user_id`, `name`, `company`, `number`, `home_address`, `email`, `relationship`, `nick_name`, `create_time`, `update_time`) 
        values (#{id}, #{userId}, #{name}, #{company}, #{number}, #{homeAddress}, #{email}, #{relationship}, #{nickName}, #{createTime}, #{updateTime})
    </insert>

    <update id="update" parameterType="com.mljr.spider.model.YyUserAddressBookHistoryDo">
        update yy_user_address_book_history
      <set>
          <if test="id != null">`id` = #{id},</if>
          <if test="userId != null">`user_id` = #{userId},</if>
          <if test="name != null">`name` = #{name},</if>
          <if test="company != null">`company` = #{company},</if>
          <if test="number != null">`number` = #{number},</if>
          <if test="homeAddress != null">`home_address` = #{homeAddress},</if>
          <if test="email != null">`email` = #{email},</if>
          <if test="relationship != null">`relationship` = #{relationship},</if>
          <if test="nickName != null">`nick_name` = #{nickName},</if>
          <if test="createTime != null">`create_time` = #{createTime},</if>
          <if test="updateTime != null">`update_time` = #{updateTime},</if>
      </set>
        WHERE id = #{id}
    </update>

    <select id="listByPage" resultMap="YyUserAddressBookHistoryResult" parameterType="java.util.HashMap">
        SELECT t2.`id`, t2.`user_id`, t2.`name`, t2.`company`, t2.`number`, t2.`home_address`, t2.`email`, t2.`relationship`, t2.`nick_name`, t2.`create_time`, t2.`update_time`
        FROM (
                 SELECT id FROM yy_user_address_book_history                 WHERE 1                  ORDER BY id
                 LIMIT #{startIndex},#{pageSize})t1,yy_user_address_book_history t2 WHERE t1.id = t2.id
    </select>

    <select id="listByPageCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
        SELECT count(*) 
        FROM yy_user_address_book_history         WHERE 1 
    </select>
</mapper>
